<% title "Word" %>

<p>
  <strong>Value:</strong>
  <%= @word.value %>
</p>
<p>
  <strong>Details:</strong>
  <%= @word.details %>
</p>
<p>
  <strong>Language:</strong>
  <%= @word.language_id %>
</p>

<p>
  <%= link_to "Edit", edit_word_path(@word) %> |
  <%= link_to "Destroy", @word, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", words_path %>
</p>
